
body {
    background: #242B33;
    color: #fff;
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.section_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 36px;
    color: #D4C17F;
    margin: 0;
}

.button {
    width: 255px;
    background: #D4C17F;
    border: 0;
    margin: 0;
    color: #FFFFFF;
}

.input_name,.input_phone {
    width: 255px;
    background: #FFFFFF;
    opacity: 0.2;
    height: 50px;
    border: 0;
    font-family: 'Raleway';
    text-align: center;
    text-decoration-color: #FFFFFF;
}

.input_info {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    width: 255px;
    height: 28px;
    font-size: 13px;
    text-align: center;
    border: 0;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}