.footer {
    background: #2D343C;
}
.footer_content {
    padding-top: 80px;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_li{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
}
.footer_contact--img {
    margin-right: 20px;
}