
.hero {
    padding-top: 200px;
    background: url("../img/hero/Rectangle.png");
    background-size: cover;
    background-position: center;
}

.hero_title {
    max-width: 556px;
    font-size: 48px;
    color: #D4C17F;
    /*font-family: ;*/
    margin: 0 auto;
}

.hero_content {
    text-align: center;
}

.hero_bottom {
    display: flex;
    justify-content: center;
}

.hero_contact {
    margin: 0 50px;
    font-size: 18px;
    font-family: 'Raleway';
    display: flex;
    align-items: center;
}

.hero_img {
    margin-bottom: 200px;
    margin-top: 100px;
}

.hero_phone--icon {
    margin-right: 15px;
}

.hero_address--icon {
    margin-right: 18px;
}