.login {
    background: url("../img/login/login_back.png");
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;

}
.login_titles {
    max-width: 535px;
    padding-top: 150px;
}

.login_title--text {

    position: absolute;
    width: 530px;
    height: 114px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 50px;
}

.login_content {

    display: flex;
    justify-content: space-between;
    padding-bottom: 180px;

}

.login_inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    max-width: 540px;
    padding-top: 245px;
    height: 135px;
}
.login_button{
    height: 50px;
}