.rooms {

}
.rooms_title {
    width: 292px;
    height: 36px;
    margin: 120px 0 70px 0;
    color: #D4C17F;
    font-family: 'Playfair Display';

}

.rooms_elements {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between ;
}

.rooms_item {
    position: relative;
    margin-top: 30px;

}

.rooms_img--title {
    position: absolute;
    bottom: 50px;
    left: 50px;
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

/*position: absolute;*/
/*width: 535px;*/
/*height: 320px;*/